/* google-font-added */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
   font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header-bg-img */
.bg-img{
    max-width: 1440px;
    height: 698px;
    background-image: url(./Assets/hero-bg.png);
 
}
/* navbar-style */
.navbar{
    
    max-width: 1140px;
    height: 151px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.navbar-logo{
    width: 99px;
    height: 51px;
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
    }
.navbar-sign-up{
   width: 132px; height: 48px;
    margin: 51.5px 0 1008px 51.5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    }
  /* banner stylee */
    .banner{
        max-width: 905px;
        height: 152px;
        margin: 158px 200px;
    }
    .banner-title{
        width: 905px;
        height: 152px;
        font-size: 65px;
        font-weight: bold;
        text-align: center;
    }
    .banner-button{
        width: 174px;
        height: 48px;
        background-color: #4E47FF;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        margin: 37px 340px 0 340px;
    }
  /* action--style */
    .action{
        max-width: 1140px;
        height: 338px;
        margin: 120px 150px;
        display: flex;justify-content: space-between;
        gap: 220px;
    }
    .action-title{
        font-weight: bold;
        font-size: 42px;
        color: #252432;
    }
    .action-subtitle{
        font-size: 26px;
        color: rgba(37, 36, 50, 0.5);
    }
    .action-button{
         width: 229px;
        height: 48px;
        background-color: #4E47FF;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 10px;
    }
    .action-img{
        width: 403px;
        height: 328px;
        border-radius: 48px;
    }
/* productive-users-style */
    .productive-users{
        max-width: 1140px;
        height: 306px;
        margin: 165px 150px;
        background-color: rgba(121, 71, 255, 0.1);
        border-radius: 24px;
    }
    .productive-users-title{
        width: 856px;
        height: 45px;
        font-size: 38px;
        font-weight: bold;
        color: #252432;
       margin: 50px 150px 0 90px;
       text-align: center;
       padding: 50px 20px;
       
    }
    .users{
        width: 856px;
       display: flex;
        justify-content: space-between;
        margin: 0 120px;
    }
    .users-data{
        font-size: 80px;
        font-weight: bold;
        color: #4E47FF;
        margin: 0;
       
    }
    .users-subtitle{
        font-size: 20px;
        color: rgba(0, 0, 0, 0.5);
        margin: 0 ;
    }